<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PANTRY - Shelves</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <h1 class="mt-5 mb-4">PANTRY</h1>
    <h2 class="mt-1 mb-1">Shelves</h2>

    <br><br>

    <!-- Formularz do dodawania półki -->
    <form th:action="@{/shelves/add}" method="post" th:object="${newShelf}">
        <label for="shelfName">Shelf name:</label>
        <input type="text" id="shelfName" th:field="*{shelfName}" required>
        <p th:if="${#fields.hasErrors('shelfName')}" th:errors="*{shelfName}" class="text-danger"></p>
        <input type="submit" class="btn btn-outline-secondary" value="Add Shelf">
        <a th:href="@{/}" class="btn btn-outline-warning" >Back to home</a>
    </form>

    <br>

    <!-- Lista wszystkich półek -->
    <div class="col-md-auto">
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Products</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iteracja przez listę półek i wyświetlenie ich w tabeli -->
        <tr th:each="shelf : ${shelves}">
            <td th:text="${shelf.shelfName}"></td>
            <!-- Formularz do przechodzenia na shelfView-->
            <td>
                <a th:href="@{/view/{shelfId}(shelfId=${shelf.shelfId})}">
                    <button class="btn btn-success">Check shelf</button></a>

            </td>
            <td>
                <!-- Formularz do usuwania półki -->
                <form th:action="@{/shelves/delete/{shelfId}(shelfId=${shelf.shelfId})}" method="post">
                    <button type="submit" class="btn btn-danger btn-sm">Delete shelf</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>
</body>
</html>